 <mat-sidenav-container class="main-content">
    <!-- <mat-sidenav class="sidenav" mode="side" opened>side nav</mat-sidenav> -->
    <mat-sidenav-content>
        <mat-form-field>
            <mat-label>Filter by Stock Symbol</mat-label>
            <input matInput type="text">
        </mat-form-field>
        @for (endOfDayData of endOfDayDataList; track endOfDayData.symbol) {
            <app-stock-card [endOfDayData]="endOfDayData">a card</app-stock-card>
        }
    </mat-sidenav-content>
</mat-sidenav-container>